* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

input {
  width: 90%;
  margin: 1rem 1.5rem 1rem 1.5rem;
  height: 2rem;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px solid #000;
}
input:hover {
  background-color: rgb(240, 240, 240);
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 37);
  background: linear-gradient(
    120deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
}

.tabs {
  height: 2rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  color: #000;
  background-color: #333;
  padding: 0.4rem;
  border-radius: 5px;
}

.tabs button {
  height: 100%;
  width: 100%;
  background-color: #777;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
}
.tabs button:hover {
  cursor: pointer;
  background-color: #999;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}
.active {
  background-color: #000;
  color: #fff;
}

.top-results-container {
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  width: 100%;
  max-width: 800px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border: 5px solid #000;
  width: 40%;
  max-height: 600px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.3rem;
}

.card:hover {
  transition: ease 0.7s;
  width: 39%;
  padding: 0rem;
  background-color: #000;
  -webkit-transition: ease 0.7s;
  -moz-transition: ease 0.7s;
  -ms-transition: ease 0.7s;
  -o-transition: ease 0.7s;
}

.card a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-between;
}
.card h2 {
  width: auto;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.8);
  border: #fff 1px solid;
  font-size: 28px;
  font-weight: 300;
  padding: 0.5rem;
}
.card img {
  width: auto;
  height: auto;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 4rem;
  overflow: hidden;

  border-radius: 10px;
}

.details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.back {
  background-color: #fff;
  padding: 1rem;
  font-size: 18px;
  position: fixed;
  top: 5%;
  left: 10%;

  border-radius: 15px;
}
.back:hover {
  cursor: pointer;
  background-color: #585858;
  color: #fff;

  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}
